In [1]:
import pandas as pd

In [2]:
url='https://data.moenv.gov.tw/api/v2/aqx_p_02?api_key=e8dd42e6-9b8b-43f8-991e-b3dee723a52d&limit=1000&sort=datacreationdate%20desc&format=CSV'

In [3]:
df=pd.read_csv(url)
df

   site county  pm25  datacreationdate itemunit
0    大城    彰化縣     7  2023-10-29 13:00    μg/m3
1   富貴角    新北市     7  2023-10-29 13:00    μg/m3
2    麥寮    雲林縣    10  2023-10-29 13:00    μg/m3
3    關山    臺東縣     0  2023-10-29 13:00    μg/m3
4    馬公    澎湖縣     7  2023-10-29 13:00    μg/m3
..  ...    ...   ...               ...      ...
73   土城    新北市    14  2023-10-29 13:00    μg/m3
74   新店    新北市     7  2023-10-29 13:00    μg/m3
75   萬里    新北市     5  2023-10-29 13:00    μg/m3
76   汐止    新北市     8  2023-10-29 13:00    μg/m3
77   基隆    基隆市    12  2023-10-29 13:00    μg/m3

[78 rows x 5 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78 entries, 0 to 77
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   site              78 non-null     object
 1   county            78 non-null     object
 2   pm25              78 non-null     int64
 3   datacreationdate  78 non-null     object
 4   itemunit          78 non-null     object
dtypes: int64(1), object(4)
memory usage: 3.2+ KB

In [5]:
df=df.dropna()
df

   site county  pm25  datacreationdate itemunit
0    大城    彰化縣     7  2023-10-29 13:00    μg/m3
1   富貴角    新北市     7  2023-10-29 13:00    μg/m3
2    麥寮    雲林縣    10  2023-10-29 13:00    μg/m3
3    關山    臺東縣     0  2023-10-29 13:00    μg/m3
4    馬公    澎湖縣     7  2023-10-29 13:00    μg/m3
..  ...    ...   ...               ...      ...
73   土城    新北市    14  2023-10-29 13:00    μg/m3
74   新店    新北市     7  2023-10-29 13:00    μg/m3
75   萬里    新北市     5  2023-10-29 13:00    μg/m3
76   汐止    新北市     8  2023-10-29 13:00    μg/m3
77   基隆    基隆市    12  2023-10-29 13:00    μg/m3

[78 rows x 5 columns]

In [18]:
values_max = df["pm25"].max()
values_max

34

In [8]:
values_min=df["pm25"].min()
values_min

0

In [21]:
df.sort_values('pm25').iloc[0][['site','pm25']].values

array(['關山', 0], dtype=object)

In [22]:
df.sort_values('pm25').iloc[-1][['site','pm25']].values

array(['潮州', 34], dtype=object)